@font-face {
    font-family: "edo";
    src: url(../fonts/edo.ttf);
  }
  @font-face {
    font-family: "bodoni";
    src: url(../fonts/bodoni.ttf);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    color: #fff;
    font-family: 'edo';
}
.navbar-toggler-icon {
    background-color: white;
    border-radius: 15%;
    border-color: bisque;
  }
.navbar-brand{
    color: #fff;
    font-size: 1.5em;
    font-family: 'edo';
}
/*home*/
.home{
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: #2696e9; */
  background-image: url(../media/anibal-w.jpg);
}
.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  margin-left: 15%;
}
.home .content h1 {
  font-size: 4em;
  font-family: 'edo';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}
.home .content h1 span{
font-size: 1.2rem;
font-weight: 600;
}
.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5 ease;
}
.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3 ease;
}
/*musica*/
.tittle{
  font-family: 'edo';
}
.fullscreen-section {
  background-image: url(../media/kerydofondo2.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
  height: 100vh; /* Cubre toda la altura de la pantalla */
}
.fullscreen-section h2 {
  margin: 0;
}
.video-section {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: #fff solid;
}
iframe {
  max-width: 100%;
}